{% extends "base2.html" %}

{% block content %}
  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.username.label_tag }}
      {{ form.username }}
      {{ form.password.label_tag }}
      {{ form.password }}
              <button
        <button type="submit" class="btn btn-primary">
        LOGIN  <span class="glyphicon glyphicon-log-in">

          </span>
  </button>
        <input type="hidden" name="next" value="{{ next }}" />
  <a href="/signup/" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> Sign Up</a>
  <a href="/password_reset/" class="btn btn-warning"><span class="glyphicon glyphicon-adjust"></span> Restore Password</a>
  <a href="/" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-home"></span> HOME</a>
  </form>
{% endblock %}
