{% extends "base.html" %}
{% load i18n %}

{% block content %}
<button class="accordion"><b>+ Концепция</b></button>
<div class="panel">

<b> Главная идея</b>: система образования неизлечимо больна и, не дожидаясь пока она умрет
 естественной смертью, надо создавать иную систему, на иных принципах.
 <b> Что такое система образования ?</b> Это люди плюс инфраструктура.
 Неизлечимо больна именно <b>инфраструктура</b>. Ее можно сравнить со скелетом.
 Нужно создать иную инфраструктуру - <b>экзоскелет</b> - и в тот момент когда он заработает
 люди из старой системы уйдут - <b>проголосуют ногами</b>.<br><br>
 Старая инфраструктура - это <b>три функции</b> - и соответствующие им <b>социальные институты</b>
 <ul>
<li><b>Содержание</b> - что учить - его держит <b>школа</b></li>
<li><b>Сценарии поведения</b> - надо идти в школу - их держит <b>семья</b></li>
<li><b>Давление</b> - кто не ходит в школу, тот будет наказан - это <b>государство</b></li>
 </ul>

 <br>Новая инфраструктура - это <b>три проекта</b>

<ul>
<li><b>Интегратор содержания</b> - <a href="https://sky-school.herokuapp.com">Sky-School</a>  (ВЫ НАХОДИТЕСЬ ЗДЕСЬ)</li>
<li><b>Усилитель самоорганизации в педагогике</b> - <a href="http://eduber.herokuapp.com">edUber</a> </li>
<li><b>Требования, самоопределение, самопроверка</b> - <a href="#">Quizard</a> (пока на бумаге)</li>
</ul>
</div>
<button class="accordion"><b>+ Как это организовано</b></button>
<div class="panel">
Все содержание (= содержание образования =) хранится в системе ввиде дерева, ориентированного от корня.
<br>
Информация каждого узла дерева состоит из 4х частей
<ol>
<li>текст, картинка, видео</li>
<li>примечания - линк <b>Больше информации</b> внизу страницы (откроется еще страница)<br>
   (линк виден только если примечания есть)</li>
<li>ссылки на узлы дерева (пред-узлы, пост-узлы, следующий узел, узлы-друзья)</li>
<li>ссылки во внешний мир (видео, сайты)</li>
</ol>
Двигаться по дереву можно тремя способами (смотри иконки и линки вверху страницы)
<ol>
<li><b>Поиск по темам.</b> забиваете в окошко слово (регистр не важен) и получаете список в тем, в которые входит это слово.
   (Попробуйте <b>история</b> или <b>система</b>) </li>
<li>Глобальный просмотр (
<span class="glyphicon glyphicon-tree-conifer"></span>
  ). Перед вами все дерево целиком. Вы можете войти в любую его вершину.
</li>
<li>
Локальный просмотр (
    <span class="glyphicon glyphicon-book"></span>
). Слева вы видите текущую вершину, тех кто выше, тех кто ниже на 1 уровень и тех кто рядом. Справа вы видите содержание узла.
Можно перейти в режим дерева (кликнуть линк <b>Поддерево тем</b> слева вверху) и увидеть
поддерево от текущего узла вниз.
</li>
</ol>
Узлы, наполнение которых не завершено, отмечены знаком
  <span class="glyphicon glyphicon-cog" title="not ready yet"></span><br>
  Количество узлов в дереве и соличество узлов завершенных можно посмотреть на первой странице слева вверху
</div>

<button class="accordion"><b>+ Кому это нужно</b></button>
<div class="panel">
Если вы
<ul>
<li>сомневаетесь в том, что правильное содержание образования - это то что описано в государственных документах,</li>
<li>хотите узнать, что думают об этом независимые от государства специалисты,</li>
<li>хотите сами поучаствовать в составлении содержании образования, адекватного времени в котором мы живем</li>
</ul>
вам стоит воспользоваться нашей системой. <br>
Но сначала надо определиться со своей <b>ролью</b>.
</div>
<button class="accordion"><b>+ Роли</b></button>
<div class="panel">
  <ol>
  <li>Если вы хотите ознакомиться с изложеныым здесь содержанием, вы - (это термин) <b>читаталь</b>.</li>
    <li>Если вам хочется добавить в систему собственное содержание, вы - (это термин) <b>писатель</b>.</li>
    <li>Если вы прослышали что я (Я.Ф.) разместил здесь все содержание своих книг,
     и вы хотите с этим содержанием ознакомиться, вы - (это термин) <b>фанат Фельдмана</b>.</li>
</ol>
Ниже для каждой роли приведены рекомендуемые ходы и сценарии поведения
  </div>
  <button class="accordion"><b>+ Читатели</b></button>
  <div class="panel">
Любой, кто ищет информацию в сети - целенаправленно или случайно - может оказаться в роли читателя.<br>
Смотри выше <b>Как это организовано</b>
    </div>
    <button class="accordion"><b>+ Писатели</b></button>
    <div class="panel">
      Если вы решили стать нашим автором - и размещать в системе свое авторское содержание, <br>
      вы должны зарегистрироваться и сообщить мне свой юзернейм.<br>
      Я создам вершину с вашим именем,<br>
       ниже которой (в поддереве) вы будете иметь все необходимые инструменты для того,<br>
       чтобы добавлять в систему свое авторское содержание
      </div>
      <button class="accordion"><b>+ Фанаты Фельдмана</b></button>
      <div class="panel">
  Тем, кто интересуется моим творчеством, <br>
  рекомендую набрать в окошке (<b>Поиск по темам</b>) слово <b>фельдман</b><br>
 и начать с узла <b>Дискурс Фельдмана</b>.
        </div>

      <button class="accordion"><b>+ Регистрация</b></button>
      <div class="panel">
<b>Вопрос.</b> Надо ли регистрироваться в системе? Какие преимущество это дает?<br>
<b>Ответ.</b> Если вы читатель или фанат, то единственное преимущество вот какое:<br>
для зарегистрированных пользователей
 система помнит последнюю посещенную вершину дерева и туда можно вернуться - <br>
 если вы закрыли сайт и снова его открыли (белая клавиша на первой странице).<br>
(В прошлых версиях преимуществ было больше, смотри <b>невошедшее</b>.)<br>
Если вы писатель, то без регистрации вы не сможете работать (смотри <b>Писатели</b>).
  </div>
        <button class="accordion"><b>+ Невошедшее</b></button>
        <div class="panel">
          В предыдущих версиях системы я пытался отслеживать интересы зарегистрированных читателей - <br>
          и рекомендовать им следующие вершины для изучения - сообразно их интересам.<br>
          Получилось слишком громоздко (и по интерфейсу, и по функционалу), так что эту часть кода я отключил.<br>
           Полагаю, что к этой теме мы еще веренмся.
          </div>

                </div>
{% endblock %}
