{% load i18n %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>sky-school-project by Jacob Feldman</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

    <body>
      <div class="container">
        <span class="pull-right">

    {% if user.is_anonymous %}
        {% include 'login.html' %}
    {% else %}
      {{ form.username.label_tag }}
      {{ user }}
<a href='http://gravatar.com' title="go get gravatar" target="gravatar">
{{ user.email|gravatar:40 }}</a>

<a href="{% url 'logout' %}" class="btn btn-primary">
  {% trans 'LOGOUT' %}
  <span class="glyphicon glyphicon-log-out"></span></a>

  <a href="{% url 'password_change' %}" class="btn btn-warning">
    <span class="glyphicon glyphicon-lock"></span>
{% trans 'Change Password' %}
  </a>
      {% endif %}
    </span>
    </div>
    <div class="container">
 <div class="jumbotron">
    {% block content %}
    {% endblock content %}
    </div></div>
    <div class="container">
      <ul class="nav nav-pills nav-fill">

      </li>        <li class="nav-item">
        <a href="/">
          <span class="glyphicon glyphicon-home" title="home"></span>
        </a>
      </li>

        <!--li class="nav-item">
          <a class="nav-link" href="/news/" >
            {% trans 'News' %}
          </a>
</li-->

  <li class="nav-item">
    <a class="nav-link" href="/forum/" target="forum">
      {% trans 'Forum' %}
    </a>
  </li>

        <li class="nav-item">
          <a href="/topic_tree/0/" title="books">
            <span class="glyphicon glyphicon-book"></span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/topic_search/">
            {% trans 'Topic Search' %}
          </a>
        </li>

        <li class="nav-item">
          <a href="/tree/0/" title="tree">
            <span class="glyphicon glyphicon-tree-conifer"></span>
          </a>
        </li>

        <!--li class="nav-item">
          <a class="nav-link" href="/upgrade/">
            {% trans 'Log of changes' %}
          </a>
        </li-->

        {% if user.is_superuser %}
  <li class="nav-item">
    <a class="nav-link" href="/interest_search/">
      {% trans 'Interest Search' %}
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/area/using/">
      {% trans 'Area work' %}
    </a>
  </li>
{% endif %}
      </ul>

</div>
</div>

        </body>
    </html>
