{% load i18n %}
      <div class="container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="/allabout/">
        Как это работает
      </a>
    </li>

 <li class="nav-item">
    <a href="/">
      <span class="glyphicon glyphicon-home" title="на первую страницу"></span>
    </a>
  </li>

<li class="nav-item">
<a class="nav-link" href="/forum/" target="forum">
  {% trans 'Forum' %}
</a>
</li>

    <li class="nav-item">
      <a href="/topic_tree/0/" title="books">
        <span class="glyphicon glyphicon-book"></span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/topic_search/">
        {% trans 'Topic Search' %}
      </a>
    </li>

    <li class="nav-item">
      <a href="/tree/0/" title="tree">
        <span class="glyphicon glyphicon-tree-conifer"></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about/">
        Об авторе
      </a>
    </li>

  </ul>
    </div>
