{% extends "base1.html" %}
{% load i18n %}

{% block content %}
{% trans 'topics' %}:{{total}}
{% if not user.is_anonymous %}
::{% trans 'last_visited' %}:
<a href="/topic_tree/{{last_visited.id}}/">{{last_visited}}</a>
{% endif %}
<h3><a href="http://hbtjournal.com/club/new2.html" target="help">
{% trans 'for new visitors' %}
</a></h3>
<h1>{% trans 'Welcome' %}!</h1>


<hr>
{% if news %}
  <h2>{% trans 'News' %}</h2>
  <h3>{{news.title}}</h3>
  {{news.description|linebreaks }}<br>
  <small>{{news.updated_at}}</small>
  <br>
  {% if news.figure %}
  <img src="{{news.figure.url}}"/>
  {% endif %}
{% if more %}
<a href="/news/">{% trans 'More news' %}</a>
{% endif %}
{% endif %}
{% endblock %}
