{% extends "base1.html" %}
{% load i18n %}

{% block content %}
{% trans 'topics' %}:{{total}}


<a href="http://hbtjournal.com/club/new2.html" class="btn btn-info btn-lg btn-block">
I don't know what to do
</a>

<a href="/topic_tree/0/" class="btn btn-primary btn-lg btn-block">
<h2>Welcome to Sky-School Learning Space! </h2>
 <h3>Learn in Peace in your own Pace!</h3>
</a>

{% if not user.is_anonymous %}
<a href="/topic_tree/{{last_visited.id}}/" class="btn btn-success btn-lg btn-block"
title="{{last_visited}}">
I know what to do
</a>

{% endif %}

<!--hr>
{% if news %}
  <h2>{% trans 'News' %}</h2>
  <h3>{{news.title}}</h3>
  {{news.description|linebreaks }}<br>
  <small>{{news.updated_at}}</small>
  <br>
  {% if news.figure %}
  <img src="{{news.figure.url}}"/>
  {% endif %}
{% if more %}
<a href="/news/">{% trans 'More news' %}</a>
{% endif %}
{% endif %}
<!-->
{% endblock %}
