{% extends "base1.html" %}
{% load i18n %}
{% load embed_video_tags %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <a href="/tree/{{node.id}}/">{% trans 'Subtree below' %}</a>
    <h2>{% trans 'Navigator' %}</h2>
    {% if parent %}
      <a href="/topic_tree/{{parent.id}}/">
    {{ parent }}
      </a>
    <ul>
{% endif %}
{% if node %}
      {% for x in siblings %}
        {% if x != node %}
          <li>
              <a href="/topic_tree/{{x.id}}/">
            {{x}}
              </a>
          </li>

        {% else %}
        <li>
          {{x}}
          {% if user.is_superuser %}

          <a href="/change_figure/{{x.id}}/"
          title='edit figure' target="a1">
   <span class="glyphicon glyphicon-picture"></span>
          </a>
          <a href="/change_txt/{{x.id}}/"
          title='edit txt' target="a1">
   <span class="glyphicon glyphicon-pencil"></span>
          </a>
          {% endif %}
          <ul>
            {% for t in children %}
              <li>
                <a href="/topic_tree/{{t.id}}/">
                {{t}}
                </a>
              </li>
              {% endfor %}
          </ul>
        </li>
         {% endif %}
      {% endfor %}
    </ul>
<hr>
    {% if not user.is_anonymous %}
        {% include 'interest.html' %}
    {% endif %}
  </div>

  <div class="col-sm-8">
    {% if node.pre_nodes %}
    <h3>{% trans 'Pre-conditions' %}</h3>
    {% for x in node.pre_nodes %}
    <a href="/topic_by_name/{{x}}/">
      {{x}}</a>|
    {% endfor %}
    {% endif %}

    <h2>{{node}} </h2>

    {% if node.next %}
    {% trans 'Next' %}:
    <a href="/topic_by_name/{{node.next}}/">
      {{node.next}}</a>
    {% endif %}

    {% if node.figure %}
    <img src="{{node.figure.url}}"  />
<br>
{% endif %}
    {% if node.text %}
    {{node.text|linebreaks }}
    {% endif %}

  <br>
    {% if node.video %}
{% video node.video 'medium' %}
    {% endif %}

{% if node.friends %}
    <h3>{% trans 'Friends' %}</h3>
{% for x in node.friends %}
<a href="/topic_by_name/{{x}}/">
{{ x }}
</a><br>
{% endfor %}
{% endif %}
{% if node.sites %}
<h3>{% trans 'Sites' %}</h3>
{% for x in node.sites %}
<a href="{{x}}" target="2">{{x}}</a><br>
{% endfor %}
{% endif %}

{% if node.videos %}
<h3>{% trans 'Videos' %}</h3>
{% for x in node.videos %}
<a href="{{x}}" target="1">{{x}}</a><br>
{% endfor %}
{% endif %}
{% endif %}

{% if more_count > 0 or user.is_superuser %}

<h3>
<a href="/sea/more/{{node.id}}/" target="more">
{% trans 'More information' %}
</a>
</h3>

{% endif %}

  </div>
</div>

{% endblock %}
