{% load i18n %}
{% load gravatar %}
<div class="container">
  <span class="pull-right">

{% if user.is_anonymous %}
  {% include 'login.html' %}
{% else %}
{{ form.username.label_tag }}
{{ user }}
<a href='http://gravatar.com' title="go get gravatar" target="gravatar">
{{ user.email|gravatar:40 }}</a>

<a href="{% url 'logout' %}" class="btn btn-primary">
{% trans 'LOGOUT' %}
<span class="glyphicon glyphicon-log-out"></span></a>

<a href="{% url 'password_change' %}" class="btn btn-warning">
<span class="glyphicon glyphicon-lock"></span>
{% trans 'Change Password' %}
</a>
{% endif %}
</span>
</div>
