{% extends "area/base3.html" %}
{% load i18n %}

{% block content %}
<a href="https://realtimeboard.com/app/board/o9J_k0c_E_E=/" target="rtboard">
{% trans 'Tree of Knowledge' %} <b>({% trans 'draft' %})</b>
</a>
<div class="row">
  <div class="col-sm-4">
    <h2>{% trans 'My areas' %}</h2>
      {% for a in my_areas %}
      <a href="/area/bag/{{a.id}}/">
        {% if a == area %}<b>{% endif %}
        {{a}}
        {% if a == area %}</b>{% endif %}
            </a>
      <br>
      {% endfor %}
<hr>
<!--a href="/area/create/">
      {% trans 'Create new area' %}<br>
</a-->
  </div>

  <div class="col-sm-8">
<h2>{{area}}:
  {% trans 'Contents' %} </h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans 'Nodes' %}</th>
        <th>{% trans 'root of subtree' %}</th>
        <th>{% trans 'plus/minus' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{% trans 'Main root' %}</td>
        <td><span class="glyphicon glyphicon-plus"></span></td>
        <td><span class="glyphicon glyphicon-plus"></span></td>
      </tr>
      {% for x,x1,x2 in bag %}
      <tr>
        <td>{{x}}</td>
        <td>
          <span class="glyphicon glyphicon-{{x1}}"></span>
        </td>
        <td>
          <span class="glyphicon glyphicon-{{x2}}"></span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  </div>
</div>

{% endblock %}
