{% load i18n %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>sky-school-project by Jacob Feldman</title>
        <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

    <body>
      <div class="container">
        <span class="pull-right">

    {% if user.is_anonymous %}
    {% else %}
      {{ form.username.label_tag }}
      {{ user }}
<a href='http://gravatar.com' title="go get gravatar" target="gravatar">
{{ user.email|gravatar:40 }}</a>

      {% endif %}
    </span>
    </div>
    <div class="container">
 <div class="jumbotron">
    {% block content %}
    {% endblock content %}
    </div></div>
    <div class="container">
      <ul class="nav nav-pills nav-fill">



      </li>        <li class="nav-item">
        <a href="/">
          <span class="glyphicon glyphicon-home" title="home"></span>
        </a>        
      </li>

    </li>        <li class="nav-item">
      <a class="nav-link" href="/area/admin/" >
        {% trans 'Areas Admin' %}
      </a>
    </li>

  </li>        <li class="nav-item">
    <a class="nav-link" href="/area/using/" >
      {% trans 'Using Areas' %}
    </a>
  </li>
      </ul>

</div>
</div>

        </body>
    </html>
