{% extends "area/base3.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <h2>{% trans 'My areas' %}</h2>
    {% if areas or my_areas %}
      {% for a in my_areas %}
      <a href="/area/report2/{{a.id}}/">
        {% if a == area %}<b>{% endif %}
        {{a}}
        {% if a == area %}</b>{% endif %}
      </a>
      {% if a in sub %}
      <a href="/area/unsub/{{a.id}}/" title="subcribed/click to change"><span class="glyphicon glyphicon-heart"></span>
      {% else %}
      <a href="/area/sub/{{a.id}}/" title="unsubcribed/click to change"><span class="glyphicon glyphicon-off"></span>
      {% endif %}
  </a>


      <br>
      {% endfor %}
      <h3>{% trans 'Not mine:'%}</h3>
      {% for a in areas %}
    <a href="/area/report2/{{a.id}}/">
      {% if a == area %}<b>{% endif %}
        {{a}} ( {{a.user}} )
        {% if a == area %}</b>{% endif %}
      </a>

      {% if a in sub %}
      <a href="/area/unsub/{{a.id}}/" title="subcribed/click to change"><span class="glyphicon glyphicon-heart"></span>
      {% else %}
      <a href="/area/sub/{{a.id}}/" title="unsubcribed/click to change"><span class="glyphicon glyphicon-off" ></span>
      {% endif %}
      </a>


      <br>
      {% endfor %}

    {% else %}
      {% trans 'List of areas is empty.' %}<br>
    {% endif %}
  </div>

  <div class="col-sm-8">
<h2>{{area}}:
   {% trans 'Report' %} </h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans 'Mark' %}</th>
        <th>{% trans 'YES' %}</th>
        <th>{% trans 'NO' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{% trans 'I like the topic' %}</td>
        <td>{{count0}}</td>
        <td>{{count1}}</td>
      </tr>
      <tr>
        <td>{% trans 'I like the content'%}</td>
        <td>{{count2}}</td>
        <td>{{count3}}</td>
      </tr>
      <tr>
        <td>{% trans 'I am an expert'%}</td>
        <td>{{count4}}</td>
        <td>{{count5}}</td>
      </tr>
      <tr>
        <td>{% trans 'Next topic recommended'%}</td>
        <td></td>
        <td><a href="/topic_tree/{{next.id}}/">
          {{next}}
        </a>
        </td>
      </tr>
    </tbody>
  </table>


  </div>
</div>

{% endblock %}
